/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/bt.h>

/ {
    combos {
        compatible = "zmk,combos";
        combo_studio_unlock {
            timeout-ms = <50>;
            key-positions = <0 1>;  
            bindings = <&studio_unlock>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        

        default_layer {
            display-name = "Default Layer";

            bindings = <
                &kp ESC     &kp N1      &kp N2      &kp N3      &kp N4      &kp N5      &kp N6      &kp CAPS
                &kp TAB     &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y
                &kp BSPC    &kp A       &kp S       &kp D       &kp F       &kp G       &mo(2)
                &kp LSHFT   &kp Z       &kp X       &kp C       &kp V       &kp B
                &kp LCTRL   &kp ENTER    &kp LALT    &mo(1)      &kp SPACE       
            >;

        };

        Right_layer {
            display-name = "Right Layer";
            bindings = <
                &trans      &kp N7      &kp N8      &kp N9      &kp N0      &kp N5      &kp N6      &kp DEL
                &kp CAPS    &kp Y       &kp O       &kp I       &kp U       &kp P       &kp SEMI
                &trans      &kp SQT     &kp H       &kp K       &kp J       &kp L       &trans
                &mo (3)     &kp DOT     &kp COMMA   &kp QMARK   &kp N       &kp M
                &trans      &trans      &trans      &trans      &trans       
            >;
        };

        media_layer {
            display-name = "Media Layer";
            bindings = <
                &trans     &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 0 &trans      &trans      &trans      &trans
                &out OUT_TOG &trans      &trans      &trans      &kp C_VOL_DN &kp C_VOL_UP &kp C_MUTE
                &trans      &trans      &trans      &trans      &kp C_BRI_DN   &kp C_BRI_UP   &trans
                &trans      &trans      &trans      &kp C_PREV &kp C_PP &kp C_NEXT
                &trans      &trans      &trans      &trans      &trans       
            >;
        };
        add_layer {
            display-name = "Additional Layer";
            bindings = <
                &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
                &trans      &trans      &trans      &kp UP      &trans      &trans      &trans
                &trans      &trans      &kp LEFT    &kp DOWN    &kp RIGHT   &trans      &trans
                &trans      &trans      &trans      &trans      &trans      &trans
                &trans      &trans      &trans      &trans      &trans       
            >;
        };
    };
};
